*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#111;
    color:white;
}

/* HEADER */

header{
    position:absolute;
    top:0;
    width:100%;
    padding:20px;
    z-index:1000;
    text-align:center;
}

nav button{
    margin:5px;
    padding:12px 20px;
    background:transparent;
    color:#A6CE39;
    border:2px solid #A6CE39;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

nav button:hover{
    background:#A6CE39;
    color:black;
    transform:scale(1.05);
}

/* PORTADA */

.hero{
    height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url("img/cancha.png");

    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    border-bottom:5px solid #A6CE39;

    padding-top:80px;
}

.logo-central{
    width:220px;
    background:white;
    border-radius:50%;
    padding:8px;
    margin-top:60px;
    margin-bottom:30px;
}
.hero h1{
    color:#A6CE39;
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    font-size:24px;
    margin-bottom:30px;
}

.btn{
    background:#3C6559;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    border-radius:10px;
    font-weight:bold;
}

.btn:hover{
    background:#A2C947;
    color:black;
}

/* SECCIÓN CANCHAS */

#canchas{
    padding:80px 20px;
}

#canchas h2{
    text-align:center;
    color:#A6CE39;
    margin-bottom:40px;
    position:relative;
}

#canchas h2::after{
    content:"";
    display:block;
    width:80px;
    height:4px;
    background:#A6CE39;
    margin:10px auto 0;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:#3C6559;
    padding:20px;
    border-radius:15px;
    border:2px solid #A2C947;
    box-shadow: 0 4px 15px rgba(47,81,71,0.5);
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(166,206,57,0.5);
}

.card h3{
    color:#A6CE39;
    margin-bottom:10px;
}

/* CONTACTO */

.seccion{
    padding:40px;
    margin:20px;
    background:#222;
    border-radius:10px;
    text-align:center;
}

/* FOOTER */

footer{
    background:#2F5147;
    text-align:center;
    padding:20px;
    margin-top:40px;
    border-top:3px solid #A2C947;
}
